*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color:#080808;
    --text-primary-color:#f4ecec;
    --bg-fill-color: #2d9b23;
    --border-primary-color: #f4ecec;
    --bg-food-color: #d92e2e;
}

html, body{
    height: 100%;
    background-color: var(--bg-primary-color); 
    color: var(--text-primary-color);
    font-family: system-ui;
}

main,section{
    width: 100%;
    height: 100%;
}

section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infos{
    display: flex;
    justify-content: space-between;
}

.info{
    padding: 8px 16px;
    border: 1px solid var(--border-primary-color);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;

    display: grid;

    /* FIXED GRID */
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.block{
    border: 1px solid #222;
    border-radius: 10px;
}

.fill{
    background-color: var(--bg-fill-color);
}


.food{
    background-color: var(--bg-food-color);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(58, 57, 57, 0.285);
    backdrop-filter: blur(5px);
}
 
.modal .start-game{
    padding: 20px 40px;
    border: 1px solid var(--border-primary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-primary-color);
}

.modal .game-over{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border: 1px solid var(--border-primary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-primary-color);
    display: none;
}